* {
  margin: 0;
  padding: 0;
}

    /* Google Web Font */
    @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    
    @import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css');



    /* font-family: 'Montserrat', sans-serif; */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


    /* font-family: 'Monoton', cursive; */
    @import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


    /* font-family: 'Raleway', sans-serif; */
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


body {
  font-family: 'Raleway', sans-serif;
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
}

a {
  color: #222;
  text-decoration: none;
}



/* ================================================== */
/* Ex01_tabMenu.html */

.body1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eee;
}


.section-1{
  width: 800px;
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.section-1 h1{
  font-size: 25px;
}
.section-1 h1 span{
  color: crimson;
}

.pic-1{}
.pic-1 img{
  width: 100px;
  height: 100px;
  filter: grayscale(1);
  margin: 20px 5px;
  transition: .5s;
  cursor: pointer;
}
.pic-1 img.active{
  border-radius: 50%;
  filter: none;

}

.testimonial-1{}
.testimonial-1 .content-1{
  display: none;
}
.testimonial-1 .content-1.active{
 display: block;
}

.testimonial-1 .content-1 p:nth-child(2){
  font-weight: bold;
  display: inline-block;
  margin: 20px 0px;
}


/* ================================================== */
/* Ex02_checkAge.html */

.body2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container2{
  border: 1px solid #000;
  padding: 50px;
  text-align: center;
}

.container2 h1{
  margin-bottom: 30px;
}

.container2 input,
.container2 button{
  padding: 10px;
  outline: none;
}

.container2 button{
  border: none;
  border-radius: 20px;
  cursor: pointer;
}


/* ================================================== */
/* Ex03_starRating.html */

.starRating {
  background-color: #333;
  border-radius: 5px;
  width: 250px;
  text-align: center;
  padding: 5px 5px 5px 15px;
}

.starRating div{
  float: left;
  width: 50%;
}
.stars .fa-star{
  font-size: 18px;
  color: #555;
  cursor: pointer;
}
.print{
  color: white;
}

.stars .active{
  color: gold;
  text-shadow: 0 0 5px gold;
}


/* ================================================== */
/* Ex04_tabMenu.html */

section{
  width: 800px;
}
.container04{
}

/* 9번예제 때문에 수정합니다. */
sectioninput{
  margin: 30px 0px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-04{
  list-style: none;
  overflow: hidden;
  width: 500px;
  display: flex;
}
.btn-04 li{
  flex: 1;
  float: left;
  background-color: #ccc;
  cursor: pointer;
  border-left: 1px solid #aaa;
  text-align: center;
  transition: 0.3s;
}

.btn-04 li:nth-child(5){
  flex: 2;
}

.btn-04 li.active{
  background-color: #fff;
  border-top: 4px solid crimson;
}

.tabs{
  background-color: #fff;
  overflow: hidden;
}

.tabs div{
  display: none;
}

.tabs div h2{
  margin: 50px 0 30px 0;
  text-align: center;
}

.tabs div img{
  width: 150px;
  height: 180px;
  float: left;
  margin: 0 20px 60px 20px;
}

.tabs div.active {
  display: block;
}

.tabs p{
  margin-bottom: 20px;
}


/* ================================================== */
/* Ex05_hover.html */

.container05{
  /* position: relative; */
}
.navi{
  position: relative;
  z-index: 1;
}
.navi li{
  list-style: none;
}
.navi li a{
  font-size: 60px;
  color: #fff;
  line-height: 80px;
  font-weight: bold;
  position: relative;
}

.navi li a:before{
  content: attr(data-text);
  position: absolute;
  color: yellowgreen;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  transition: .5s;
}

.navi li a:hover::before{
  width: 100%;
}

.photo{
  background-image: url(../images/img1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.5s;
}


/* ================================================== */
/* Ex06_hover.html */


.item06{
  /* border: 1px solid #000; */
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.item06 img{
  transition: 0.5s;
}
.item06 .detail{
  position: absolute;
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
  bottom: -395px;
  left: 0;
  transition: .5s;
  padding: 15px;
  box-sizing: border-box;
}


/* 타이틀 */


.title06{
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.title06 h2 {
  font-size: 16px;
  color: #555;
  float: left;
  
}
.title06 h2 em{
  display: block;
  color: #888;
  font-style: normal;
  margin-bottom: 10px;
}

.title06 span{
  float: right;
  margin-top: 2px;
  font-weight: bold;
  color: crimson;
  font-size: 20px;
}


/* 인포 */

.info06 {
  position: relative;
}

.size{}
.size h2{
  display: block;
  font-size: 16px;
  margin-top: 7px;
}
.size span{
  display: inline-block;
  font-size: 12px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 12px;
  font-weight: bold;
  margin: 0 0 7px 0;
  transition: 0.3s;
  padding: 3px;
  cursor: pointer;
}

.colors{}
.colors h2{
  font-size: 16px;
}
.colors span{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 3px 0 12px 0;
  transition: 00.3s;
  cursor: pointer;
}

.colors span:nth-of-type(1){
  background-color: crimson;
}
.colors span:nth-of-type(2){
  background-color: orange;
}
.colors span:nth-of-type(3){
  background-color: yellowgreen
}
.colors span:nth-of-type(4){
  background-color: dodgerblue
}
.colors span:nth-of-type(5){
  background-color: plum;
}

.add{
  width: 100%;
  height: 35px;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
}


/* 좋아요 */

.like{

}

.like::before{
  content: '\f08a';
  font-family: fontawesome;
  color: #ddd;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: .3s;
}

.like.active:before{
  content: '\f004';
  font-family: fontawesome;
  color: crimson;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

/* 기능 */

.item06:hover .detail{
  bottom: -45%;
}


.item06:hover img{
  filter: blur(2px);
}

.size span:hover{
  color: white;
  background-color: #000;
  border-radius: 5px;
}

.size span.active{
  color: white;
  background-color: #000;
  border-radius: 5px;
}

.colors span:hover{
  border-radius: 50%;
}

.colors span.active{
  border-radius: 50%;
}


/* ================================================== */
/* Ex08_video.html */

.container{}
header{
  border-bottom: 1px solid lightgrey;
  background-color: white;
  height: 60px;
  text-align: center;
  padding-top: 13px;
  box-sizing: border-box;
}

section{
  border: 1px solid red;
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}

.login09{
  width: 360px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-type{}
.login-type h1{
  margin-bottom: 20px;
  font-size: 38px;
  text-align: center;
  font-weight: normal;
}

.btn09{
  border: 1px solid lightgray;
  display: block;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 3px;
  margin-bottom: 15px;
  font-size: 18px;
  color: white;
  opacity: 0.8;
}

.btn09:hover{
  opacity: 1;
}

.btn09:nth-of-type(1){
  color: #222;
  background:#fff url(../images/logo-mobile.png) no-repeat center left 13px;
}
.btn09:nth-of-type(2){
  background:#898c9b url(../images/logo-email.png) no-repeat center left 13px;
}
.btn09:nth-of-type(3){
  background:#11ce00 url(../images/logo-naver.png) no-repeat center left 13px;
}
.btn09:nth-of-type(4){
  background:#0076fe url(../images/logo-facebook.png) no-repeat center left 13px;
}
.btn09:nth-of-type(5){
  background:#00c026 url(../images/logo-line.png) no-repeat center left 13px;
}

.or{
  display: block;
  margin: 20px 0;
  text-align: center;
  position: relative;
}

.or::before,
.or::after{
  content: "";
  position: absolute;
  background-color: lightgray;
  height: 1px;
  width: 44%;
  top: 50%;

}

.or::before{
  left: 0;
}

.or::after{
  right: 0;
}



.login-footer{}

.login-footer label{
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
}

.login-footer p{
  text-align: center;
}

.login-footer p a{
  font-weight: bold;
}

.login-footer p a:hover{
 text-decoration: underline;
}